<div class="header">
  <h1>Contacts List</h1>
  <button class="btn" (click)="onAdd()"><fa-icon [icon]="faPlus"></fa-icon></button>
  </div>
  <div class="rowContainer">
     <div class="name">Full name</div>
     <div class="email">Email</div>
     <div class="phone">Phone number</div>
     <div class="relationship">Relationship</div>
     <div class="location">Location</div>
     <div class="lastContainer">
     <button [ngClass]="showFilter ? 'btn btnCancel' : 'btn'" (click)="toggleFilter()">{{showFilter ? 'Clear' : 'Filter'}}</button>
    </div>
  </div>
  <app-contacts-filter *ngIf="showFilter" [DBContacts]="DBContacts"></app-contacts-filter>
  <div *ngFor="let contact of filteredContacts">
    <div class="rowContainer" [ngClass]="{'like': contact.liker}" (dblclick)="onToggleLike(contact)">
      <div class="name">{{contact.name}}</div>
      <div class="email">{{contact.email}}</div>
      <div class="phone">{{contact.phone}}</div>
      <div class="relationship">{{contact.relationship}}</div>
      <div class="location">{{contact.country}}</div>
      <div class="lastContainer">
        <fa-icon class="edit" [icon]="faEnvelope" (click)="createComponent(contact)"></fa-icon>
        <fa-icon class="edit" [icon]="faPen" (click)="onEdit(contact._id)"></fa-icon>
        <fa-icon class="delete" [icon]="faTimes" (click)="onRemove(contact)"></fa-icon>
    </div>
  </div>  
</div>
<div class="composeContainer">
  <div #composeContainer></div>
</div>
