@use '../../../styles/colors';
@use '../../../styles/btn';
@use '../../../styles/display-flex';
@use '../../../styles/fonts';
@use '../../../styles/contacts';

.header{
  @include display-flex.flexSpaceBetween();
  padding: 20px 1%;
}

.delete{
  @extend .responsiveDetails;
  color: colors.$red;
  cursor: pointer;
}

.edit{
  @extend .responsiveDetails;
  color: colors.$primaryColor;
  cursor: pointer;
}

.like{
  border-left: 10px solid colors.$gold;
  border-block: 10px;
  border-radius: 0;
}

.btn {
  font-size: calc((1.6 - 1) * 1vw + 0.4em);
  margin: 0 3%
}

.composeContainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap; 
  overflow: hidden; 
  position: absolute; 
  bottom: 0; 
  left: 20vw; 
  max-width: 1008px;
  max-height: 60vh;
  margin: 0 auto;
}

