@use '../../../styles/colors';
@use '../../../styles/center-container';
@use '../../../styles/btn';
@use '../../../styles/link';
@use '../../../styles/form';
@use '../../../styles/display-flex';
@use '../../../styles/fonts';

.bodyContainer {
  height: 100%;
}

.centerContainer {
  padding: 20px 0;
  align-items: flex-start;
}

.messagesContainer {
  background-color: colors.$white;
  width: 80vw;
  height: 85%;
  box-shadow: colors.$boxShadow;
  border-radius: 10px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
    background: #f1f1f1;
    }
    
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a9a9a9;
  }
}

.messageContainer {
  @include display-flex.flexStart(row, 3%);
  @extend .responsiveDetails;
  &:nth-child(odd) {
    background-color: colors.$quinaryColor;
  }
  &:first-child {
    border-radius: 10px 10px 0 0;
  }
  &:last-child {
    border-radius: 0 0 10px 10px;
  }
  height: 60px;
  cursor: pointer;
}

.icon {
  font-size: 18px;
  font-weight: fonts.$bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2%;
  width: 40px;
  height: 40px;
  background-color: colors.$gray;
  border-radius: 50px;
}

.titleContainer {
  text-align: left;
  width: 25%
}