<div class="centerContainer">
  <div class="bodyContainer">
    <app-nav-bar type="admin"></app-nav-bar>
  <div class="graphs">
    <ngx-charts-line-chart *ngIf="messagesGraphData.series"
    [view]="view"
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabelContacts"
    [timeline]="timeline"
    [results]="[contactsGraphData]"
    >
  </ngx-charts-line-chart>
  <ngx-charts-line-chart *ngIf="messagesGraphData.series"
    [view]="view"
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabelMessages"
    [timeline]="timeline"
    [results]="[messagesGraphData]"
    >
  </ngx-charts-line-chart>
  <ngx-charts-bar-vertical *ngIf="contactsBarData"
    [view]="view"
    [scheme]="colorScheme"
    [results]="contactsBarData"
    [gradient]="gradient"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabelBar"
    [yAxisLabel]="yAxisLabelContacts"
    >
  </ngx-charts-bar-vertical>
  </div>
</div>