@use '../../../styles/colors';
@use '../../../styles/btn';
@use '../../../styles/display-flex';
@use '../../../styles/fonts';
@use '../../../styles/center-container';

.centerContainer {
  height: 180vh;
}

.bodyContainer {
  height: 100%;
  width: 70vw;
  background-color: colors.$white;
}

.graphs {
  @include display-flex.flexStart(column);
}