@use '../../../styles/colors';
@use '../../../styles/btn';
@use '../../../styles/display-flex';
@use '../../../styles/fonts';
@use '../../../styles/center-container';

.centerContainer {
  height: 180vh;
}

.nav {
  @include display-flex.flexSpaceBetween();
  height: 80px;
  padding: 20px 3%;
  margin: 0;
  background-color: black;
}


h1{
  font-size: 18px;
  color: colors.$white;
  font-weight: fonts.$bold;
  margin: 0;
}

fa-icon {
  color: colors.$white;
  font-size: 35px;
}

.bodyContainer {
  height: 100%;
  width: 70vw;
  background-color: colors.$white;
}

.graphs {
  @include display-flex.flexStart(column);
}