@use './colors';

.btn {
  border: 0;
  font-weight: 700;
  padding: 14px 3vw;
  border-radius: 10px;
  color: colors.$primaryColor;
  background-color: colors.$secondaryColor;
  cursor: pointer;
  &:hover:enabled {
    background-color: colors.$tertiaryColor;
  }
  &:active:enabled {
    background-color: colors.$quaternaryColor;
  }
  &:disabled {
    background-color: colors.$disabled;
  }
}

.btnCancel {
  color: colors.$white;
  background-color: colors.$red;
  &:hover:enabled {
    background-color: colors.$brightRed;
  }
  &:active:enabled {
    background-color: colors.$darkRed;
  }
}