$primaryColor: #1877F2;
$secondaryColor: #8be6fd;
$tertiaryColor: #a5edfd;
$quaternaryColor: #1954a1;
$disabled: #e3e3e3;
$white: #fff;
$red: #ff2c2c;
$green: #32cd32;
$gold: #ffd447;
$primaryBG: #f5f5f5;
$boxBorder: 2px solid #c5c5c5;
$boxShadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
