@mixin flexCenter($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBetween($direction: 'row') {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}