@mixin flexCenter($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin flexSpaceBetween($direction: 'row', $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
}

@mixin flexEnd($direction: 'row', $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: flex-end;
  align-items: center;
  gap: $gap;
}

@mixin flexStart($direction: 'row', $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: flex-start;
  align-items: center;
  gap: $gap;
}