<div class="centerContainer">
  <div class="bodyContainer">
    <app-nav-bar type="admin"></app-nav-bar>
  <div class="tableHeader">
  <app-search-bar type="admin" (handleSearch)="searchUsers($event)"></app-search-bar>
    <div class="rowContainer">
        <div class="name">First name</div>
        <div class="name">Last name</div>
        <div class="email">Email</div>
        <div class="count">Contacts count</div>
        <div class="count">Messages count</div>
    </div>
  </div>
  <div class="tableContainer">
    <div *ngFor="let user of users" (click)="onClick(user._id)">
      <div class="rowContainer">
        <div class="name">{{user.fname}}</div>
        <div class="name">{{user.lname}}</div>
        <div class="email">{{user.email}}</div>
        <div class="count">{{user.contacts.length}}</div>
        <div class="count">{{user.messages.length}}</div>
      </div>  
    </div>
  </div>
  </div>
</div>
