@use '../../../styles/colors';
@use '../../../styles/btn';
@use '../../../styles/display-flex';
@use '../../../styles/fonts';
@use '../../../styles/center-container';
@use '../../../styles/table';

.centerContainer {
  height: 100vh;
}

.bodyContainer {
  height: 100%;
  background-color: colors.$white;
}

.tableContainer {
  width: 70vw;
  height: 72.5%;
}

.tableHeader {
  border: colors.$boxBorder;
}

.name{
  width: 20%;
}

.email{
  width: 30%;
}