@use '../../../styles/colors';
@use '../../../styles/center-container';
@use '../../../styles/btn';
@use '../../../styles/link';
@use '../../../styles/form';

.form{
  width: 450px;
  @extend .form;
}

.form-content{
  margin: 7.5% 10%;
}

h1 {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: colors.$primaryColor;
  margin-bottom: 10px;
}


input {
  @extend .input;
  width: 100%;
  padding: 0 3%;
}

.link {
  margin: 10px 0;
}


.btn {
  font-size: 18px;
  width: 100%;
  margin: 10px 0;
}


